.logout-button {
    -fx-background-radius: 25;
}

.top-background {
    -fx-background-color: #00A4E8;
}

.top-right-background {
    -fx-background-color: #f6f6f6;
}

.login-button {
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(#8acbf8, #4EA2E5);
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-border-color: linear-gradient(#67a0c6, #4a90c6);

}

.radius-background {
    -fx-background-color: white;
    -fx-background-radius: 40;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.centerCoordinator-buttons {
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(#62c8ef, #50a9cc);
    -fx-border-style: solid;
    -fx-border-radius: 20;
    -fx-border-color: linear-gradient(#67a0c6, #4a90c6);
    -fx-text-fill: white;
}

.select-option-process {
    -fx-background-color: #f4f4f4;
}